---
import Layout from "@layouts/Layout.astro";

// --------------------------------------------------------------------------------
// Esta página se muestra cuando el usuario intenta acceder a una url que no existe
// --------------------------------------------------------------------------------
---

<Layout title="Page not found">
  <h1 class="text-center text-4xl font-bold">404</h1>
  <p class="text-center">Page not found</p>
</Layout>
