---
interface Props {
  // 游녡 definimos las props que recibir치 el componente
  href: string;
  type: "primary" | "secondary";
  size?: "small" | "large"; // 游녣 "size" es opcional con el "?"
}

const { href, type, size } = Astro.props; // 游녣 desestructuramos las props
---

<a
  href={href}
  class:list={[
    // 游녡 "class:list" sirve para concatenar clases y crear estilos condicionales
    "no-underline px-6 py-3 text-white rounded-lg mt-3 inline-flex items-center gap-2 transition",
    { "bg-teal-500 hover:bg-teal-600": type === "primary" }, // La clase "bg-teal-500" se aplicar치 si "type" es "primary"
    { "bg-gray-500 hover:bg-gray-600": type === "secondary" }, // La clase "bg-gray-500" se aplicar치 si "type" es "secondary"
    { "text-sm": size === "small" }, // La clase "text-sm" se aplicar치 si "size" es "small"
    { "text-xl": size === "large" }, // La clase "text-xl" se aplicar치 si "size" es "large"
  ]}
>
  <slot name="icon-left" />
  <slot />
  <slot name="icon-right" />
</a>
