---
import Menu from "@components/Menu.astro";
---

<footer class="bg-[#152035] py-20 mt-auto text-white">
  <div class="container">
    <nav>
      <ul class="flex items-center justify-center gap-6">
        <Menu />
      </ul>
    </nav>

    <small class="text-center block mt-12"
      >© Todos los derechos reservados</small
    >
  </div>
</footer>
