---
import { getRelativeLocaleUrl } from "astro:i18n"; // 游녣 Importamos la funci칩n que nos permite obtener la ruta relativa de la p치gina en un idioma en concreto
import { getRouteFromPathname } from "@utils/route.js"; // 游녣 Importamos la funci칩n que nos permite obtener la ruta limpia de la p치gina

const { currentLocale } = Astro; // 游녣 Obtenemos el idioma actual de la p치gina en la que estamos
const currentPath = Astro.url.pathname; // 游녣 Obtenemos la ruta actual de la p치gina en la que estamos
const currentRoute = getRouteFromPathname({ pathname: currentPath }); // 游녣 transformamos la ruta actual limpiando el idioma
---

<nav>
  <ul class="flex items-center gap-6">
    <li>
      <a
        class:list={[
          // 游녡 Agregamos una clase condicional para subrayar el idioma actual
          "text-lg",
          {
            underline: currentLocale === "en",
          },
        ]}
        href={getRelativeLocaleUrl("en", currentRoute)}>English</a
      >
    </li>
    <li>
      <a
        class:list={[
          // 游녡 Agregamos una clase condicional para subrayar el idioma actual
          "text-lg",
          {
            underline: currentLocale === "es",
          },
        ]}
        href={getRelativeLocaleUrl("es", currentRoute)}>Spanish</a
      >
    </li>
  </ul>
</nav>
